.notes-form{ data: { controller: 'form' } }
  = floki_form_with model: note do |f|
    = f.text_field :title
    = f.rich_text_area :body
    .form-submit
      = f.submit class: 'button-primary'
      - if note.persisted?
        = link_to t('cancel'), note_path(note), class: 'button-secondary'
      - else
        = link_to t('cancel'), '#', class: 'button-secondary', data: { action: 'click->form#cancel:prevent' }

  %hr.my-3.-mx-4.border-gray-300
