.notes-form{ data: { controller: 'notes--form' } }
  = form_with model: note do |f|
    .form-group.mb-2
      = f.label :title
      = f.text_field :title, class: 'form-input px-2 py-1 rounded w-full'
    .form-group.mb-2
      = f.label :body, 'Content'
      = f.rich_text_area :body, class: 'form-input px-2 py-1 rounded w-full'
    .form-group
      = f.submit class: 'rounded px-2 py-1 bg-sky-500 text-neutral-50'
      - if note.persisted?
        = link_to 'Cancel', note_path(note), class: 'rounded px-3 py-2 bg-gray-400 text-neutral-50'
      - else
        = link_to 'Cancel', '#', class: 'rounded px-3 py-2 bg-gray-400 text-neutral-50', data: { action: 'click->notes--form#cancel' }

  %hr.my-3.-mx-4.border-gray-300
