= turbo_frame_tag dom_id(note) do
  .note.w-full.mb-8
    - if note.title
      .note-title.flex.items-center.mb-2
        .text-2xl.font-semibold.mr-2.text-sky-900
          = note.title
          .note-date.text-xs.font-normal.italic.text-sky-600= l(note.created_at, format: :long)
        .note-actions.flex.ml-auto
          = link_to edit_note_path(note), class: 'badge-button-primary badge-normal mr-2' do
            = svg_icon :edit, options: { width: '20px' }
          = link_to note_path(note), data: delete_data_attr, class: 'badge-button-alert badge-normal' do
            = svg_icon :trash, options: { width: '20px' }
    .note-body.text-gray-700= note.body
