.blank-slate
  .blank-slate-image= image_tag "blankslates/#{image}.png", width: '400'
  %h2.blank-slate-title= heading_text
  - if actions?
    .blank-slate-actions= actions
  - if help_text?
    %p.blank-slate-helptext= help_text
