.publication-form{ data: { controller: 'publications--form' } }
  = floki_form_with model: publication do |f|
    = f.text_field :title
    = f.rich_text_area :description
    .flex.w-full
      = f.text_field :author, wrapper: { class: 'flex-1 mr-4' }
      = f.text_field :url, wrapper: { class: 'flex-1' }
    .form-group.mb-2
      = f.label :file, 'Attachments'
      .publication-resources
        - if publication.persisted? && publication.files.present?
          - images, files = publication.partition_files
          .images.flex.flex-wrap
            - images.each do |image|
              = turbo_frame_tag dom_id(image) do
                = render 'image', image: image, delete_url: destroy_attachment_publication_path(publication, image.signed_id)
          .files.grid.md:grid-cols-2.sm:grid-cols-1.gap-2
            - files.each do |file|
              = turbo_frame_tag dom_id(file) do
                = render 'file', file: file, delete_url: destroy_attachment_publication_path(publication, file.signed_id)
      .resources-upload
        .droppable-area
          %span Drug and drop your resources here!
        = f.file_field :files, multiple: true, direct_upload: publication.persisted?, class: 'mt-2 hidden'
    .form-submit
      = f.submit class: 'button-primary'
      - if publication.persisted?
        = link_to t('cancel'), publication_path(publication), class: 'button-secondary'
      - else
        = link_to t('cancel'), '#', class: 'button-secondary', data: { action: 'click->publications--form#cancel:prevent' }

  %hr.my-3.-mx-4.border-gray-300
