.publication-form{ data: { controller: 'publications--form' } }
  = floki_form_with model: publication, multipart: true do |f|
    = f.text_field :title
    = f.rich_text_area :description
    .flex.w-full
      = f.text_field :author, wrapper: { class: 'flex-1 mr-4' }
      = f.text_field :url, wrapper: { class: 'flex-1' }
    .form-group.mb-2
      = f.label t('.resources')
      - add_resources_url = publication.persisted? ? upload_attachments_publication_path(publication) : nil
      .resources{ data: { controller: 'droppable', droppable_uploadable_value: publication.persisted?, droppable_resources_url_value: add_resources_url,
                  droppable_image_template_value: render('publications/image_template'), droppable_file_template_value: render('publications/file_template') } }
        .preview-area= render 'resources', publication: publication
        .droppable-area{ data: droppable_data_attrs }
          = svg_icon :upload, options: { width: '48px' }
          .announcement= t('.drag_and_drop_message')
    .form-submit
      = f.submit class: 'button-primary'
      - if publication.persisted?
        = link_to t('cancel'), publication_path(publication), class: 'button-secondary'
      - else
        = link_to t('cancel'), '#', class: 'button-secondary', data: { action: 'click->publications--form#cancel:prevent' }

  %hr.my-3.-mx-4.border-gray-300
