.publication-form{ data: { controller: 'publications--form' } }
  = floki_form_with model: publication do |f|
    = f.text_field :title
    = f.rich_text_area :description
    .flex.w-full
      = f.text_field :author, wrapper: { class: 'flex-1 mr-4' }
      = f.text_field :url, wrapper: { class: 'flex-1' }
    .form-group.mb-2
      = f.label t('.resources')
      = render 'resources', publication: publication
      - add_resources_url = publication.persisted? ? add_attachments_publication_path(publication) : add_attachments_publications_path
      .resources-uploader{ data: { controller: 'droppable', add_resources_url: add_resources_url } }
        = f.file_field :files, multiple: true, class: 'hidden', data: { droppable_target: 'filesField' } if publication.new_record?
        .droppable-area{ data: droppable_data_attrs }
          = svg_icon :upload, options: { width: '48px' }
          .announcement= t('.drag_and_drop_message')
    .form-submit
      = f.submit class: 'button-primary'
      - if publication.persisted?
        = link_to t('cancel'), publication_path(publication), class: 'button-secondary'
      - else
        = link_to t('cancel'), '#', class: 'button-secondary', data: { action: 'click->publications--form#cancel:prevent' }

  %hr.my-3.-mx-4.border-gray-300
