.publication-form{ data: { controller: 'publications--form' } }
  = floki_form_with model: publication do |f|
    = f.text_field :title, class: 'form-input px-2 py-1 rounded w-full', wrapper: { class: 'mb-2' }
    = f.rich_text_area :description, class: 'form-input px-2 py-1 rounded w-full', wrapper: { class: 'mb-2' }
    .flex.w-full
      = f.text_field :author, class: 'form-input px-2 py-1 rounded w-full', wrapper: { class: 'mb-2 flex-1 mr-4' }
      = f.text_field :url, class: 'form-input px-2 py-1 rounded w-full', wrapper: { class: 'mb-2 flex-1' }
    .form-group.mb-2
      = f.label :file, 'Attachments'
      .resources
        - if publication.persisted? && publication.files.present?
          - images, files = publication.partition_files
          .images.flex.flex-wrap
            - images.each do |file|
              = turbo_frame_tag dom_id(file), class: 'flex' do
                .image.px-2.pt-2.pb-6.mr-2.bg-white.relative.rounded.min-w-fit.mb-2.min-h-max
                  = image_tag file, width: 150
                  = link_to destroy_attachment_publication_path(publication, file.signed_id), data: delete_data_attr, class: 'badge-button-alert badge-small absolute bottom-1 right-1' do
                    = svg_icon :xmark, options: { width: '12px' }
          .files.grid.grid-cols-2.gap-2
            - files.each do |file|
              = turbo_frame_tag dom_id(file) do
                .file.flex.items-center.bg-white.border.rounded.p-2
                  .file-icon.inline.m-1= file_type_icon(file)
                  = link_to file.filename.base, file, class: 'text-sm'
                  = link_to destroy_attachment_publication_path(publication, file.signed_id), data: delete_data_attr, class: 'badge-button-alert badge-small bottom-1 right-1 ml-auto' do
                    = svg_icon :xmark, options: { width: '12px' }
        = f.file_field :files, multiple: true, direct_upload: publication.persisted?, class: 'mt-2'
    .form-submit
      = f.submit class: 'button-primary'
      - if publication.persisted?
        = link_to t('cancel'), publication_path(publication), class: 'button-secondary'
      - else
        = link_to t('cancel'), '#', class: 'button-secondary', data: { action: 'click->publications--form#cancel:prevent' }

  %hr.my-3.-mx-4.border-gray-300
