.publication-form{ data: { controller: 'publications--form' } }
  = floki_form_with model: publication do |f|
    = f.text_field :title, class: 'form-input px-2 py-1 rounded w-full', wrapper: { class: 'mb-2' }
    = f.rich_text_area :description, class: 'form-input px-2 py-1 rounded w-full', wrapper: { class: 'mb-2' }
    .flex.w-full
      = f.text_field :author, class: 'form-input px-2 py-1 rounded w-full', wrapper: { class: 'mb-2 flex-1 mr-4' }
      = f.text_field :url, class: 'form-input px-2 py-1 rounded w-full', wrapper: { class: 'mb-2 flex-1' }
    .form-group.mb-2
      = f.label :file, 'Attachments'
      .resources
        - if publication.persisted? && publication.files.present?
          - images, files = publication.partition_files
          .images.flex
            - images.each do |file|
              = turbo_frame_tag dom_id(file) do
                .image.p-2
                  = image_tag file, width: 150
                  = link_to 'x', destroy_attachment_publication_path(publication, file.signed_id), data: delete_data_attr
          .files
            - files.each do |file|
              = link_to file.filename, file
        = f.file_field :files, multiple: true, direct_upload: publication.persisted?, class: 'mt-4'
    .form-submit
      = f.submit class: 'button-primary'
      - if publication.persisted?
        = link_to t('cancel'), publication_path(publication), class: 'button-secondary'
      - else
        = link_to t('cancel'), '#', class: 'button-secondary', data: { action: 'click->publications--form#cancel:prevent' }

  %hr.my-3.-mx-4.border-gray-300
