:ruby
  publication = local_assigns.fetch(:publication, nil)
  delete_url = destroy_attachment_publication_path(publication, image.signed_id) if publication&.persisted?

= turbo_frame_tag dom_id(image) do
  .image
    .image-info
      .image-name= image.filename.base
      - if action_name.in? %w[edit new add_attachments]
        .image-actions
          - delete_attrs = delete_data_attrs.merge('publications--form-target' => 'deleteButton')
          = link_to delete_url.presence || '#', data: delete_attrs, class: 'badge-button-alert badge-small bottom-1 right-1 ml-auto' do
            = svg_icon :xmark, options: { width: '12px' }
    = image_tag image.variant(:thumb), width: 150, class: 'image-previwe'
