- album_attr = { controller: 'album', action: 'keydown.esc->album#closeAlbum keydown.right->album#nextImage keydown.left->album#previousImage' }

= turbo_frame_tag dom_id(publication) do
  .publication
    .publication-title
      %div
        .publication-title-text= publication.title
        .publication-title-info= t('.title_info', time: l(publication.created_at.to_date, format: :long), author: publication.author)
        .publication-source-link
          %span= t('.source_url')
          = link_to publication.url, publication.url, class: ''
      .publication-actions
        = link_to edit_publication_path(publication), class: 'badge-button-primary mr-2 badge-normal' do
          = svg_icon :edit, options: { width: '20px' }
        - link_attr = action_name == 'show' ? delete_data_attrs.merge(turbo_frame: :_top) : delete_data_attrs
        = link_to publication_path(publication), data: link_attr, class: 'badge-button-alert badge-normal' do
          = svg_icon :trash, options: { width: '20px' }

    = render 'tags/tags', tags: publication.tags, owner: publication

    .publication-description= publication.description
    .publication-show-more= link_to t('show_more'), publication_path(publication), data: { turbo: false }

    - if publication.files.any?
      .publication-resources
        .publication-resources-title= t('.resources')
        - images, files = publication.partition_files
        .images{ data: album_attr, tabindex: '0' }
          = render partial: 'image', collection: images, as: :image
        .files
          = render partial: 'file', collection: files, as: :file
