- album_attr = { controller: 'album', action: 'keydown.esc->album#closeAlbum keydown.right->album#nextImage keydown.left->album#previousImage' }

= turbo_frame_tag dom_id(publication) do
  .publication.w-full.mb-8
    .publication-title.flex.items-center.mb-2
      .text-2xl.font-semibold.mr-2.text-sky-900= publication.title
      .flex.ml-auto
        = link_to edit_publication_path(publication), class: 'badge-button-primary mr-2 badge-normal' do
          = svg_icon :edit, options: { width: '20px' }
        = link_to publication_path(publication), data: delete_data_attrs, class: 'badge-button-alert badge-normal' do
          = svg_icon :trash, options: { width: '20px' }
    .publication-description= publication.description
    .publication-link= publication.url

    - if publication.files.any?
      .publication-resources
        .publication-resources-title.bold Resources
        - images, files = publication.partition_files
        .images.flex.flex-wrap.sm:grid.sm:grid-cols-2{ data: album_attr, tabindex: '0' }
          = render partial: 'image', collection: images, as: :image
        .files.grid.sm:grid-cols-1.grid-cols-2.gap-2
          = render partial: 'file', collection: files, as: :file
