= turbo_frame_tag dom_id(publication, 'resources') do
  .publication-resources
    - if publication.persisted? && publication.files.present?
      - images, files = publication.partition_files
      .images.flex.flex-wrap
        - images.each do |image|
          = turbo_frame_tag dom_id(image) do
            = render 'image', image: image, delete_url: destroy_attachment_publication_path(publication, image.signed_id)
      .files.grid.md:grid-cols-2.sm:grid-cols-1.gap-2
        - files.each do |file|
          = turbo_frame_tag dom_id(file) do
            = render 'file', file: file, delete_url: destroy_attachment_publication_path(publication, file.signed_id)
