
= page_title do
  = link_to 'Add Book or Article', new_publication_path, data: { turbo_frame: 'new-publication' }, class: 'button-primary'

= turbo_frame_tag 'new-publication'

- if @tags.present?
  = render 'tags/filter', tags: @tags, owner_class: @publications.first.class

= turbo_frame_tag :publications, class: 'publications' do
  = render 'publications', publications: @publications
