
= page_title do
  = link_to 'Add Book or Article', new_publication_path, data: { turbo_frame: 'new-publication' }, class: 'button-primary'

= turbo_frame_tag 'new-publication'

= floki_form_for :filter, data: { controller: 'tag-filter' } do |f|
  = f.collection_check_boxes :tags, @tags, :first, :last do |b|
    = b.label(class: 'tag') { '#'.html_safe + b.text + b.check_box(class: 'hidden') }

= turbo_frame_tag :publications, class: 'publications' do
  - if @publications.present?
    = render @publications
  - else
    = turbo_frame_tag(:blankslate) do
      = render BlankSlateComponent.new(:publications, 'Neither books no articles where found', 'You can add one by clicking add button') do |wrapper|
        - wrapper.with_actions do
          = link_to 'Add Book or Article', new_publication_path, data: { turbo_frame: 'new-publication' }, class: 'button-primary'

= paginate @publications
