.project-form{ data: { controller: 'form project--form' } }
  = floki_form_with model: project do |f|
    = f.text_field :title
    = f.rich_text_area :description
    = f.inline_check_box :enable_repo, data: { action: 'change->project--form#toggleRepository', 'project--form-target' => 'repositoryToggle' }
    .reposytory-fields{ data: { 'project--form-target' => 'repositoryFields' } }
      = f.fields_for :repository do |ff|
        - url_data = { action: 'blur->project--form#validateRepositories focus->project--form#clearErrors' }
        = ff.text_field :url, data: url_data, wrapper: { class: 'with-spinner' }
        = ff.text_field :name, data: { 'project--form-target' => 'repoName' }
    .form-submit
      = f.submit class: 'button-primary', data: { 'project--form-target' => 'submitButton' }
      - if project.persisted?
        = link_to t('cancel'), project_path(project), class: 'button-secondary'
      - else
        = link_to t('cancel'), '#', class: 'button-secondary', data: { action: 'click->form#cancel:prevent' }

  %hr.my-3.-mx-4.border-gray-300
