.project-form{ data: { controller: 'form project--form' } }
  = floki_form_with model: project do |f|
    = f.text_field :title
    = f.rich_text_area :description
    = f.inline_check_box :enable_repo, data: { action: 'change->project--form#toggleRepository', 'project--form-target' => 'repositoryToggle' }
    .reposytory-fields{ data: { 'project--form-target' => 'repositoryFields' } }
      = f.fields_for :repository do |ff|
        = ff.text_field :url, data: { action: 'focusout->project--form#validateRepositories' }, wrapper: { class: 'with-spinner' }
        = ff.text_field :name
    .form-submit
      = f.submit class: 'button-primary', data: { 'project--form-target' => 'submitButton' }
