.project-form{ data: { controller: :form } }
  = floki_form_with model: project do |f|
    = f.text_field :title
    = f.rich_text_area :description
    = f.text_field :repository
    .form-submit
      = f.submit class: 'button-primary'
