= turbo_frame_tag dom_id(project) do
  %article.project
    .project-header.flex.mb-2
      -# TODO: Convert link to a specific field of the Project model
      .project-title= link_to project.title, todos_path, data: { turbo: false }
      .project-actions.ml-auto.flex
        = link_to edit_project_path(project), class: 'badge-button-primary mr-2 badge-normal' do
          = svg_icon :edit, options: { width: '20px' }
        - link_attr = action_name == 'show' ? delete_data_attrs.merge(turbo_frame: :_top) : delete_data_attrs
        = link_to project_path(project), data: link_attr, class: 'badge-button-alert badge-normal' do
          = svg_icon :trash, options: { width: '20px' }
    .project-description= project.description
    .project-reposytory{ id: dom_id(project, :repository) }
      = render('projects/repository', repository: project.repository) if project.repository
