= page_title do
  = link_to 'Add Project', new_project_path, data: { turbo_frame: 'project-form' }, class: 'button-primary'

= turbo_frame_tag 'project-form'

= turbo_frame_tag :projects do
  - if @projects.present?
    = render @projects
  - else
    = turbo_frame_tag(:blankslate) do
      = render BlankSlateComponent.new(:projects, 'No projects where found', 'You can create new project') do |wrapper|
        - wrapper.with_actions do
          = link_to 'Add Project', new_project_path, data: { turbo_frame: 'project-form' }, class: 'button-primary'
