= page_title do
  = link_to 'Add Project', new_project_path, data: { turbo_frame: 'project-form' }, class: 'button-primary'

= turbo_frame_tag 'project-form'

= turbo_frame_tag :projects do
  = render @projects
