.header-wrapper.flex.h-full.px-10
  .logo.self-center
    = link_to root_path do
      = image_tag 'logo-floki.png', alt: 'Logo', class: 'inline w-16'
      %span.font-mono.font-semibold.text-xl.pl-1 Floki
  %nav.ml-auto.my-auto{ data: { controller: 'main-menu', action: 'resize@window->main-menu#resize' } }
    %button{ class: 'sm:block hidden button-primary', data: { action: 'click->main-menu#show' } } Menu
    %ul.main-nav{ data: { main_menu_target: 'menuList', action: 'click@window->main-menu#hide' } }
      %li.main-nav-item
        = link_to 'Todos', todos_path
      %li.main-nav-item
        = link_to 'Projects', projects_path
      %li.main-nav-item
        = link_to 'Books & Article', publications_path
      %li.main-nav-item
        = link_to 'Diary', notes_path
