.header-wrapper.flex.h-full.px-10
  .logo.self-center
    = image_tag 'logo-viking.png', alt: 'Logo', class: 'inline w-11'
    %span.font-mono.font-semibold.text-xl.pl-1 Floki
  %nav.ml-auto.my-auto
    %ul.main-nav
      %li.main-nav-item
        = link_to 'About', '#'
      %li.main-nav-item
        = link_to 'Projects', '#'
      %li.main-nav-item
        = link_to 'Books & Article', '#'
      %li.main-nav-item
        = link_to 'Diary', '#'

