!!!
%html
  %head
    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type' }/
    %title Floki
    %meta{ content: 'width=device-width,initial-scale=1', name: 'viewport' }/
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag 'application', 'data-turbo-track': 'reload'
    = stylesheet_link_tag 'tailwind', 'data-turbo-track': 'reload'
    = javascript_importmap_tags

  %body{ class: 'font-inter bg-gray-200 p-2.5' }
    .w-full
      %header.rounded-lg.bg-sky-300.h-20.shadow-lg= render 'layouts/header'
      = render 'layouts/flash'
      %main.container.bg-slate-100.rounded-md.mt-4.p-4.mx-auto= yield
      %footer
